.navbar {
    background-color: #ff9e03;
    min-height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.header {
    margin-top: 0px;
}

.link{
    color: white;
    text-decoration: none;
}